<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <div class="container">
        <div class="nav"></div>
        <div class="task-container">
            <div class="selected-task">
                <div class="task-heading">
                    <h2>Due Today</h2>
                </div>
                <div class="task-table">
                    <table>
                        <tr>
                            <th class="th-task">Tasks</th>
                            <th class="th-priority">Priority</th>
                            <th class="th-status">Status</th>
                        </tr>
                        <!-- <% for(task of high_tasks){ %>
                            <tr>
                                <td class="high-task"><%= task.task %></td>
                                <td class="high-task"><%= task.priority %></td>
                                <td class="high-task"></td>
                            </tr
                        <% } %> -->
                    </table>
                </div>
            </div>
            <div class="task-options">
                <div class="boxes"></div>
                <div class="boxes"></div>
                <div class="boxes"></div>
                <div class="boxes"></div>
                <div class="boxes"></div>
            </div>
        </div>
    </div>
</body>
</html>